@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Nanum+Gothic:wght@400;700;800&display=swap");

:root {
  --light-accent: #f3e9dc;
  --warm-brown: #c08552;
  --rich-brown: #5e3023;
  --neutral-brown: #895737;
  --tan: #dab49d;
}

.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

.nanum-gothic-bold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
}

.nanum-gothic-extrabold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--rich-brown);
}

::placeholder {
  color: var(--rich-brown);
  opacity: 0.5;
}

* {
  transition: 0.3s ease;
}

.typing-animation {
  display: inline-block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid var(--rich-brown);
  animation: typing 1.8s steps(20) forwards, blink-and-hide 4s step-end forwards;
}

@media (max-width: 480px) {
  .typing-animation {
    font-size: 1.4rem;
  }
}

@keyframes blink-and-hide {
  0%,
  14%,
  28%,
  42%,
  56%,
  70%,
  84% {
    border-color: var(--rich-brown);
  }
  7%,
  21%,
  35%,
  49%,
  63%,
  77% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes typing {
  to {
    width: 8.2em;
  }
}

.fade-in-bounce-delayed {
  opacity: 0;
  animation: fadeInBounce 0.4s ease-out 0.1s forwards;
  will-change: opacity, transform;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    translate: 0 5px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.folder {
  width: 75px;
  cursor: pointer;
}

.folder:hover {
  transform: scale(1.1);
}

.folder-label {
  text-transform: lowercase;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  color: #4b5563;
  font-size: 0.75rem;
  line-height: 1rem;
}

#empty-state {
  display: none;
}

.nav-btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-brown);
  cursor: pointer;
  transition: all 0.3s;
  color: var(--neutral-brown);
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-size: 0.875rem;
}

.nav-btn:focus {
  outline: none;
}

.form-label {
  text-transform: uppercase;
  color: var(--neutral-brown);
  font-size: 0.75rem;
  font-weight: 700;
}

.form-input {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0.5rem;
}

.form-input:hover {
  background-color: white;
}

.form-input:focus {
  outline: none;
  background-color: white;
}

.form-btn {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  color: var(--warm-brown);
}

.form-btn:focus {
  outline: none;
}

.filter-btn {
  cursor: pointer;
  color: var(--neutral-brown);
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
}

.filter-btn:hover {
  text-decoration: underline;
}
