@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Nanum+Gothic:wght@400;700;800&display=swap");

/* COLOUR VARIABLES */
:root {
  --light-accent: #f3e9dc;
  --warm-brown: #c08552;
  --rich-brown: #5e3023;
  --neutral-brown: #895737;
  --neutral-brown-50: rgba(137, 87, 55, 0.5);
  --tan: #dab49d;
}

/* FONTS (classes) */
.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-bold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nanum-gothic-extrabold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* custom general styling */

/* can probably do this with tailwind */
#label {
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--rich-brown);
}

::placeholder {
  color: var(--rich-brown);
  opacity: 0.5;
}

/* animations */
* {
  transition: 0.3s ease;
}

.typing-animation {
  display: inline-block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid var(--rich-brown);
  animation: typing 1.8s steps(20) forwards, blink-and-hide 4s step-end forwards;
}

@media (max-width: 480px) {
  .typing-animation {
    font-size: 1.4rem;
  }
}

@keyframes blink-and-hide {
  0%,
  14%,
  28%,
  42%,
  56%,
  70%,
  84% {
    border-color: var(--rich-brown);
  }
  7%,
  21%,
  35%,
  49%,
  63%,
  77% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes typing {
  to {
    width: 8.2em;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
}

.delay-1 {
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in-bounce-delayed {
  opacity: 0;
  animation: fadeInBounce 0.4s ease-out 0.1s forwards;
  will-change: opacity, transform;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    translate: 0 5px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

/* job folder */
.folder {
  width: 75px;
  cursor: pointer;
}

.folder:hover {
  transform: scale(1.1);
}

.folder-label {
  /* put tailwind classes in here for reusability */
  text-transform: lowercase;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  color: #4b5563; /* gray-600 */
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
#empty-state {
  display: none;
}
